# Unity缓存和库文件
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Mm]emoryCaptures/
/UserSettings/
/Logs/

# IDE配置
/.idea/
/.vs/

# 自动生成C#工程文件
*.csproj
*.sln

# 打包输出
*.apk
*.ipa
*.exe

# 系统文件
.DS_Store
Thumbs.db
